/*
    Created on : Jul. 2, 2020, 1:38:21 p.m.
    Author     : Marc
*/
/*These styles are specific to the results page*/
/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
$color1: #7d7c84;
$color2: #F46197;
$color3: #87cf5d;
$color4: #2d93ad;
$color5: #FAF9e9;

/*These styles apply to the element that allows one to add a photo to a collection*/
#addToCollection {
	background-color: white;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 450px;
	width: 100%;
	z-index: 4;
}

/*This style applies to the warning box*/
.warning {
	border: 2px solid;
	border-color: yellowgreen;
	border-radius: 5px;
	background-color: yellow;
}

/*These styles apply to the popup thing showing the images fullsize*/
#frameHolder {
	opacity: 0;
	transition: opacity 200ms;
	display: flex;
	visibility: hidden;
	flex-direction: column;

	border-radius: 5px;
	padding: 5px;
	background-color: $color5;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2; /*above navbar but not grey-out*/
}
#topControls {
	flex-basis: 28px;
	flex-grow: 0;
	margin-bottom: 5px;

	display: flex;
	justify-content: flex-end;
}
#fullsizeButton {
	background-image: url("/FamilyPhotos/OtherResources/expand.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 28px;
	height: 28px;
	margin-right: 5px;
}
#closeButton {
	width: 28px;
	height: 28px;
	background-image: url("/FamilyPhotos/OtherResources/cancel.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#main {
	flex-grow: 999;

	min-height: 1px;
	height: 100%;
	overflow: auto;

	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}
.leftButton, .rightButton {
	display: none;
	position: fixed;
	top: 50%;
	opacity: 0.60;
	width: 45px;
	height: 45px;
}
.leftButton {
	left: 20px;
}
.rightButton {
	right: 20px;
}
.leftButton:hover, .rightButton:hover {
	opacity: 1;
}
#main img {
	max-width: 100%;
	max-height: 100%;
}
#infoPane {
	background-color: $color4;
	color: $color5;
	color: black;
	
	border-radius: 5px;
	margin: 5px;
	
	overflow: auto;
	border: none;
	flex-basis: 100px;
	flex-shrink: 0;
	flex-grow: 10;
}
#main p {
	display: none;
	word-break: break-all;
}